body {
	overflow-x: hidden;
}

/* Navbar */
.navbar-brand {
    font: 32px Viga;
}

.navbar-brand1 {
    font: 23px Viga;
    color: #000000;
}
.button-news1 {
    font: 23px Viga;
}



/* Jumbotron */
.jumbotron {
    background: url(../img/image/header1.webp);
    background-size: cover;
    height: 540px;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Info Panel */
.info-panel {
    /* width: 70px; */
    height: 130px;
    background-color: white;
    padding: 30px;
    margin-top: -100px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
    
}

.info-panel img {
    margin-top: -10px;
    width: 90px; 
    height: 90px; 
    border-radius: 70px;
}

.info-panel h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}

.info-panel p {
    font-size: 14px;
    font-weight: lighter;
    color: #acacac;
}



/* Workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace img {
	float: right;
    margin-bottom: 20px;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
}


/* CARD */
.card {
	margin-bottom: 50px;
}

/* Utility */
.tombol {
    border-radius: 40px;
    text-transform: uppercase;
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
        padding-right: 150px;
    }
    
    .navbar-brand, .nav-link {
        padding-left: 40px;
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 0px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }


    .jumbotron {
        margin-top: -90px;
        height: 640px;
    }

    .jumbotron .display-4 {
        padding-right: 450px;
        font-size: 3em;
        margin-top: 170px;
    }


    .workingspace {
        text-align: left;
    }


    .testimonial p {
        font-size: 2em;
    }
}

/**********************************/
/********* Bottom Bar CSS *********/
/**********************************/
.bottom-bar {
    padding: 15px 0;
    background: #ffffff;
    margin-bottom: 30px;
}

.bottom-bar .logo {
    text-align: left;
    overflow: hidden;
}

.bottom-bar .logo a img {
    max-height: 60px;
}

.bottom-bar .search {
    width: 100%;
}

.bottom-bar .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #FF6F61;
    border-radius: 4px;
}

.bottom-bar .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #FF6F61;
    border-radius: 0 2px 2px 0;
}

.bottom-bar .search button:hover {
    background: #FF6F61;
    color: #ffffff;
}

.bottom-bar .user {
    font-size: 0;
    text-align: right;
}

.bottom-bar .user .wishlist {
    margin-right: 15px;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
    color: #FF6F61;
}

.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
    color: #FF6F61;
    font-size: 15px;
}

.bottom-bar .user .cart:hover i,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover span {
    color: #ffffff;
}

@media (min-width: 768px) {
    .bottom-bar {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .bottom-bar .logo,
    .bottom-bar .search,
    .bottom-bar .user {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .bottom-bar .user {
        margin-bottom: 0;
    }
}

/**********************************/
/*********** Review CSS ***********/
/**********************************/
.review {
    margin-top: 60px;
    height: 100px;
}
.h1-review {
    margin-top: 100px;
    text-align: center;
}

.review-slider {
    position: relative;
}

.review .event {
	padding-top: 80px;
	margin-bottom: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}

.review-image {
    width: 150%;
    /* max-width: 200px; */
	border-radius: 20px;
    overflow: hidden;
}

.review .review-text {
	-webkit-box-shadow: 0px 50px 60px rgba(67, 69, 70, 0.05);
	box-shadow: 0px 50px 60px rgba(67, 69, 70, 0.05);
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 200px);
}

.review .review-text h5 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}


.review .review-text .ratting {
    margin-bottom: 5px;
}

.review .review-text .ratting i {
    color: #62ACCC;
    font-size: 14px;
}

.review .slick-slider:hover .slick-prev {
    left: 30px;
}

.review .slick-slider:hover .slick-next {
    right: 30px;
}

/* Workingspace */
.workingspace {
    margin-top: 100px;
    text-align: left;
}

.workingspace img {
    margin-bottom: 20px;
}

.workingspace h2 {
    font-size: 52px;
    /* text-transform: uppercase; */
    /* font-weight: 100; */
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 20px;
    color: #ACACAC;
    font-weight: 200;
}

	/* CARD EVENT */
.card1-event {
	margin-left: -45px;
	width: 160%; 
	display: flex;
	flex-wrap: wrap;
  }
.card-event {
    /* border: 0; */
	width: 370px; 
	padding: 20px;
    margin-left: 25px;
	margin-top: 100px; 
	justify-self: start; 
	background-color: #FFFFFF;
}
.card:hover .card-content {
	margin-top: -60px;
}
.card-cover {
	width:100%; 
	height:200px; 
	position:relative; 
	margin-top: -60px; 
	z-index: 10; 
	box-shadow: 0 5px 10px rgba(0, 0, 0, .5); 
	display: flex;
}
.card-cover h1 {
	color: #FFFFFF;
	font-size: 38px;
} 

.card-content {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-top: -200px;
	position: relative;
	overflow: hidden;
	transition: margin-top .3s ease-out;
}

.event-title h2{
	margin-top: 40px;
	font: 40px Viga;
}
.event-title p{
	margin-top: 10px;
}
/* CARD EVENT END */

/**********************************/
/*********** Review CSS ***********/
/**********************************/
.review {
    margin-bottom: 30px;
}

.review .review-slider {
    position: relative;
}

.review .review-slider-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}

.review .review-img {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}

.review .review-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.review .review-text {
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 200px);
}

.review .review-text h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text p {
    margin: 0;
}

.review .review-text .ratting {
    margin-bottom: 5px;
}

.review .review-text .ratting i {
    color: #FF6F61;
    font-size: 14px;
}

.review .slick-slider:hover .slick-prev {
    left: 30px;
}

.review .slick-slider:hover .slick-next {
    right: 30px;
}
/* Testimonial */
.testimonial {
    margin-top: 40px;
	margin-bottom: 60px;
}

.testimonial p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    /* filter: grayscale(1); */
}

.testimonial .img-main {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: grayscale(0);
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: -5px;
    color: #acacac;
    font-style: normal;
} 

/*---------------------
  Product
-----------------------*/

.product {
	padding-top: 0;
	padding-bottom: 60px;
}

.filter__controls {
	margin-top: 80px;
	text-align: center;
	margin-bottom: 45px;
}

.filter__controls li {
	color: #b7b7b7;
	font-size: 24px;
	font-weight: 700;
	list-style: none;
	display: inline-block;
	margin-right: 88px;
	cursor: pointer;
}

.filter__controls li:last-child {
	margin-right: 0;
}

.filter__controls li.active {
	color: #111111;
}

.product__item {
	overflow: hidden;
	margin-bottom: 40px;
}

.product__item.sale .product__item__pic .label {
	color: #ffffff;
	background: #111111;
}

.product__item.sale .product__item__text .rating i {
	color: #f7941d;
}

.product__item.sale .product__item__text .rating i:nth-last-child(1) {
	color: #b7b7b7;
}

.product__item:hover .product__item__pic .product__hover {
	right: 20px;
	opacity: 1;
}

.product__item:hover .product__item__text a {
	top: 22px;
	opacity: 1;
	visibility: visible;
}

.product__item:hover .product__item__text h6 {
	opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
	opacity: 1;
}

.product__item__pic {
	height: 260px;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__pic .product__hover {
	position: absolute;
	right: -200px;
	top: 20px;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.product__item__pic .product__hover li {
	list-style: none;
	margin-bottom: 10px;
	position: relative;
}

.product__item__pic .product__hover li:hover span {
	opacity: 1;
	visibility: visible;
}

.product__item__pic .product__hover li span {
	color: #ffffff;
	background: #111111;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	position: absolute;
	left: -78px;
	top: 5px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
	position: absolute;
	right: -2px;
	top: 5px;
	height: 15px;
	width: 15px;
	background: #111111;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.product__item__pic .product__hover li img {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
}

.product__item__text {
	padding-top: 25px;
	position: relative;
}

.product__item__text a {
	font-size: 15px;
	color: #62ACCC;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text h6 {
	color: #111111;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text .rating {
	margin-bottom: 6px;
}

.product__item__text .rating i {
	font-size: 14px;
	color: #b7b7b7;
	margin-right: -5px;
}

.product__item__text h5 {
	color: #0d0d0d;
	font-weight: 700;
}

.product__item__text .product__color__select {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__text .product__color__select label {
	display: inline-block;
	height: 12px;
	width: 12px;
	background: #5e64d1;
	border-radius: 50%;
	margin-bottom: 0;
	margin-right: 5px;
	position: relative;
	cursor: pointer;
}

.product__item__text .product__color__select label.black {
	background: #404a47;
}

.product__item__text .product__color__select label.grey {
	background: #d5a667;
}

.product__item__text .product__color__select label.active:after {
	opacity: 1;
}

.product__item__text .product__color__select label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 18px;
	width: 18px;
	border: 1px solid #b9b9b9;
	content: "";
	border-radius: 50%;
	opacity: 0;
}

.product__item__text .product__color__select label input {
	position: absolute;
	visibility: hidden;
}

/*********************************
8. Benefit
*********************************/

.categori {
	margin-top: 30px;   
    margin-bottom: 40px;
}

.categori-judul {
    padding-top: 70px;

}

.img-categori {
    width: 70px; 
    background: transparent;
}

.categori_row {
	padding-left: 15px;
	padding-right: 15px;
}

.categori_col {
	padding-left: 10px;
	padding-right: 10px;
}

.categori_content
{
    padding-top: 2px;
	padding-left: 18px;
}
.categori_content h6
{
	text-transform: uppercase;
	line-height: 18px;
	font-weight: 500;
}

.card-header {
    background-color: #fafafa;
}
.card-categori {
    -webkit-box-shadow: 0 0 20px #dddddd;
	box-shadow: 0 0 20px #dddddd;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.card-categori:hover {
    -webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**********************************/
/****** Register & Login CSS ******/
/**********************************/
.login {
    position: relative;
    padding-top: 30px;
}

.login .login-form,
.login .register-form {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
}

/**********************************/
/********** Checkout CSS **********/
/**********************************/
.checkout {
	background: #F3F6FF;
    position: relative;
    padding-top: 30px;
}

.checkout .checkout-inner {
    margin-bottom: 30px;
    padding: 30px;
    background: #FFFFFF;
}

.checkout .billing-address,
.checkout .shipping-address {
    position: relative;
    width: 100%;
}

.checkout .shipping-address {
    display: none;
    margin-top: 30px;
}

.checkout .billing-address h2,
.checkout .shipping-address h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment {
    position: relative;
    width: 100%;
}

.checkout .checkout-summary h1,
.checkout .checkout-payment h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment .payment-methods {
    padding: 30px;
    background: #f3f6ff;
    margin-bottom: 30px;
}

.checkout .checkout-summary p.sub-total,
.checkout .checkout-summary p.ship-cost {
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

.checkout .checkout-summary p span,
.checkout .checkout-summary h2 span {
    float: right;
}

.checkout .checkout-summary h2 {
    font-size: 20px;
    padding-top: 12px;
    border-top: 1px solid #dddddd;
    margin: 0;
}

.checkout .checkout-payment .payment-methods .payment-content {
    display: none;
}

.checkout .checkout-payment .checkout-btn button {
    width: 100%;
    height: 50px;
    padding: 2px 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #000000;
    background: #FF6F61;
    border: none;
    border-radius: 4px;
    transition: all .3s;
}

.checkout .checkout-payment .checkout-btn button:hover {
    color: #FF6F61;
    background: #000000;
}

/*---------------------
    Blog
-----------------------*/

.blog {
	padding-bottom: 55px;
}

.latest-spad { 
    padding-top: 100px;
	padding-bottom: 55px;
}

.blog-title h2 {
    font: 35px Viga;
    margin-left: 30px;
    margin-top: 100px;
}


.blog_item {
    padding-top: 80px;
	margin-bottom: 45px;
}

.blog_item:hover a::after {
	width: 40px;
	background: #62ACCC;
}

.blog_item:hover .blog_item_text {
	-webkit-box-shadow: 0px 50px 60px rgba(67, 69, 70, 0.05);
	box-shadow: 0px 50px 60px rgba(67, 69, 70, 0.05);
}

.item-img {
    width: 325px; 
    height: 180px;
    margin-top: -25px;
    margin-left: -25px;
}

.blog_item_text {
	padding: 30px 30px 25px;
	margin: 0 30px;
	margin-top: -35px;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.blog_item_text span {
	color: #3d3d3d;
	font-size: 13px;
	display: block;
	margin-bottom: 10px;
}

.blog_item_text span img {
	margin-right: 6px;
}

.blog_item_text h5 {
	color: #0d0d0d;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 10px;
}

.blog_item_text a {
	display: inline-block;
	color: #111111;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 3px 0;
	position: relative;
}

.blog_item_text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #111111;
	content: "";
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

/*---------------------
  Blog Sidebar
-----------------------*/

.blog__sidebar__item {
	text-align: center;
	margin-bottom: 65px;
}

.blog__sidebar__item:last-child {
	margin-bottom: 0;
}

.blog__sidebar__item form input {
	height: 50px;
	font-size: 15px;
	color: #444444;
	padding-left: 20px;
	border: 1px solid #e1e1e1;
	width: 100%;
	margin-bottom: 20px;
}

.blog__sidebar__item form input::-webkit-input-placeholder {
	color: #444444;
}

.blog__sidebar__item form input::-moz-placeholder {
	color: #444444;
}

.blog__sidebar__item form input:-ms-input-placeholder {
	color: #444444;
}

.blog__sidebar__item form input::-ms-input-placeholder {
	color: #444444;
}

.blog__sidebar__item form input::placeholder {
	color: #444444;
}

.blog__sidebar__title {
	text-align: center;
	margin-bottom: 35px;
}

.blog__sidebar__title h4 {
	color: #111111;
	font-weight: 700;
	position: relative;
	padding-bottom: 20px;
}

.blog__sidebar__title h4::before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 5px;
	width: 70px;
	background: #e1e1e1;
	content: "";
	margin: 0 auto;
}

.blog__sidebar__social a {
	display: inline-block;
	font-size: 18px;
	color: #111111;
	width: 50px;
	height: 50px;
	background: #f2f2f2;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	margin-right: 6px;
}

.blog__sidebar__social a:last-child {
	margin-right: 6px;
}

.recent__item {
	display: block;
	overflow: hidden;
	margin-bottom: 25px;
	text-align: left;
}

.recent__item__pic {
	float: left;
	margin-right: 25px;
}

.recent__item__text {
	overflow: hidden;
}

.recent__item__text h6 {
	color: #111111;
	line-height: 21px;
	font-weight: 700;
}

.recent__item__text span {
	font-size: 13px;
	color: #888888;
}



/* -----------------------------------------------------------------------------

# News Styles

----------------------------------------------------------------------------- */
.news-bg-1 {
	background-image: url(../img/artikel/pendengaran.png);
  }
  
  .news-bg-2 {
	background-image: url(../img/artikel/rokok.png);
  }
  
  .news-bg-3 {
	background-image: url(../img/artikel/blister.png);
  }
  
  .news-bg-4 {
	background-image: url(../img/event/news-bg-4.jpg);
  }
  
  .news-bg-5 {
	background-image: url(../img/event/news-bg-5.jpg);
  }
  
  .news-bg-6 {
	background-image: url(../img/event/news-bg-6.jpg);
  }

  .section-brand1 {
    font: 18px Viga;
    color: #000000;
}

.latest-news {
	margin-top: 100px;
	margin-bottom: 100px;
}

.section-title h3 {	
    font: 30px Viga;
	margin-top: 50px;
	margin-bottom: 5px;
}

.section-title p {
	margin-bottom: 40px;
}
  
  .latest-news-bg {
	height: 200px;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	background-color: #ddd;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  }
  
  .single-latest-news h3 {
	font-size: 20px;
	line-height: 1.25em;
	font-weight: 600;
  }
  
  .single-latest-news h3 a {
	color: #051922;
  }
  
  p.blog-meta span {
	margin-right: 15px;
	opacity: 0.6;
	color: #051922;
	font-size: 0.85em;
  }
  
  p.blog-meta span:last-child {
	margin-right: 0;
  }
  
  p.blog-meta span i {
	margin-right: 5px;
  }
  
  p.excerpt {
	line-height: 1.8;
	color: #555;
  }
  
  .latest-news a.boxed-btn {
	margin-top: 80px;
  }
  
  .news-text-box {
	padding: 25px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  
  .single-latest-news {
	margin-bottom: 30px;
  }
  
  .single-artcile-bg {
	background-image: url(../img/latest-news/news-bg-3.jpg);
	height: 450px;
  }
  
.latest-news-bg {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  
  .single-latest-news:hover .latest-news-bg {
	opacity: 0.8;
  }
  
.single-latest-news {
	-webkit-box-shadow: 0 0 20px #dddddd;
	box-shadow: 0 0 20px #dddddd;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  
.single-latest-news:hover {
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
  }



  /**********************************/
/********* Breadcrumb CSS *********/
/**********************************/
.breadcrumb-wrap {
    position: relative;
    width: 100%;
}

.breadcrumb-wrap .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent;
}

  
/* -----------------------------------------------------------------------------

# Testimonial Styles

----------------------------------------------------------------------------- */
.client-avater {
	margin-bottom: 20px;
  }
  
  .client-meta h3 {
	font-size: 20px;
	font-weight: 600;
  }
  
  .client-meta h3 span {
	display: block;
	font-size: 70%;
	margin-top: 10px;
	color: #051922;
	font-weight: 600;
	opacity: 0.5;
  }
  
  p.testimonial-body {
	font-size: 17px;
	font-style: italic;
	width: 700px;
	margin: 0 auto;
	line-height: 1.8;
	color: #999999;
	margin-top: 20px;
  }
  
  .last-icon {
	margin-top: 20px;
	font-size: 25px;
	opacity: 0.3;
  }
  
  .client-avater img {
	max-width: 100px;
	border-radius: 50%;
	margin: 0 auto;
  }
/*---------------------
  Blog Hero
-----------------------*/

.blog-hero {
	background: #f3f2ee;
	padding-top: 125px;
	padding-bottom: 190px;
}

.blog__hero__text h2 {
	color: #111111;
	font-size: 42px;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 18px;
}

.blog__hero__text ul li {
	list-style: none;
	font-size: 15px;
	color: #3d3d3d;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.blog__hero__text ul li:after {
	position: absolute;
	right: -25px;
	top: 0;
	content: "|";
}

.blog__hero__text ul li:last-child {
	margin-right: 0;
}

.blog__hero__text ul li:last-child:after {
	display: none;
}


/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 30px 0 0 0;
    background: #fafafa;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.footer .footer-widget h2 {
    size: 25px Viga;
    white-space: nowrap;
    margin-bottom: 20px; 
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #353535;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    transition: all .3s;
}

.footer .footer-widget ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    /* color: #88AFC2; */
    /* color: #ABC2CC; */
    /* color: #92BEF0; */
    /* color: #7091B8; */
    color: #62ACCC;
}

.footer .footer-widget ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.footer .contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer .contact-info p i {
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    text-align: center;
    font-size: 18px;
    color: #353535;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: all .3s;
}

.footer .social a:hover {
    color: #62ACCC;
    border-color: #62ACCC;
}
.footer .social2 a:hover {
    color: #e41b1b;
    border-color: #341b1b;
}

.footer .payment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

@media (max-width: 768.98px) {
    .footer .payment-method {
        margin-bottom: 15px;
    }
    
    .footer .payment-method {
        text-align: center; 
    } 
}

.footer .payment-method h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img{
    height: 25px;
}

/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #62ACCC;
}

.footer-bottom .copyright {
    margin-left: 380px;
    /* text-align: center; */
}


.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}
